.buscador-h1{
    color: #0f3240;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    

}

.buscador-p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #0f3240
}

.barra-busqueda{
   border-radius: 50px;
   width: 70%;
   height: 35px;  
   border: 2px solid #0597f2;
   background-image: url(lupa2.png);
   background-repeat: no-repeat;
   background-size: 16px;
   background-position: 2.3%;
   padding-left: 40px;
   outline: #1ed9d9;
   
}


