.container-fluid-celeste {
    background-color: rgba(1, 191, 255, 0.443); /* Ajusta el valor alfa según sea necesario */
    border-radius: 50em;
  }

.container-celeste{
    padding: 50px;
}

.row{
    margin:1em
}

.col{
    margin: 1em
}

.titulo-secundario-blanco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#0f3240;
}

.parrafo-blanco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #0f3240;
}