.container-fluid-celeste {
    background-color: #0597f2;
    border-radius: 50em;
  }

.container-celeste{
    padding: 50px;
}

.row{
    margin:1em
}

.col{
    margin: 1em
}

.titulo-secundario-blanco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #f2f2f2;
}

.parrafo-blanco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #f2f2f2
}