.alert-1{
    width: 350px;
    background-color: #0597F2;
    border-radius: 50px;
    color: white;
    background-image: url(Insignia_1.svg);
    background-repeat: no-repeat;
    background-size: 50px;
   background-position: 2.5%;
   padding-left: 40px;
   transition: all 0.3s;
   
   
   
   height: 50px;
   padding-top: 11px;
   
}


.alert-1:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px #1ED9D9;
}


