.Titulo-insignia{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #0f3240;
    transform: translateY(100%);
    
}

.imagen-insignia{
    width: 500px;
    transform: translateX(-40%);
}

.alert{
    width: 350px;
    margin-left: 55%;
    transform: translateY(-350px);
    background-color: #0597f2;
    border-radius: 50px;
    color: white;
}
.alert1-primary{
    width: 350px;
    margin-left: 55%;
    transform: translateY(-330px);
    background-color: #0597f2;
    border-radius: 50px;
    color: white;
}