
.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, .5); /* fondo relleno*/
  height: 500px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}

.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background:  #f3f3f3; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
}

.info-childs {
  width: 100%;
  padding: 0% 30px;
}

.info-childs h2 {
  font-size: 2.5rem;
  color: black;
}

.info-childs p {
  margin: 15px 0;
  color: black;
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background: linear-gradient(to top, #0597f2 20%, #f3f3f3 50%);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  color: #00293A  ;
  font-size: 2rem;
}

.form-information-childs p {
  color: black;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 15px;
  padding: 0 10px;
  background-color: aliceblue;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: aliceblue;
  outline: none;
  border: none;
  border-radius: 20px;
  color :rgb(0, 0, 0);
}


.form input[type="submit"] {
  background-color: #00293A;

  color: aliceblue;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover {
 background:  #f3f3f3;
  color: rgb(27, 2, 2);
}

.hide {
  position: absolute;
  transform: translateY(-300%);
}
/* Responsive rules for smaller screens */
@media screen and (max-width: 750px) {
  font-size: 12px;
}

@media screen and (max-width: 580px) {
  font-size: 10px;
}

/* Uncommented responsive rules */
.container-form {
  height: auto;
  flex-direction: column;
}

.information {
  width: 100%;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0;
}

.form-information {
  width: 100%;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
}

.boton-nicole-login{
  background-color: #00293A;
  outline: none;
  border: solid 2px #f2f2f2;
  border-radius: 20px;
  padding: 10px 20px;
  color: #00293A;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-nicole-login:hover {
  background-color: #f2f2f2;
  border: solid 2px #00293A;
  color: #00293A;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

#seleccionaRol{
  background-color: #F2F2F2;
  color: #00293A;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
  margin-bottom: 25px ;
  outline: none;
  width: 100%;
}

/* Establece la posición del contenedor como relativa */
.mostrar {
  position: relative;
  
}

/* Establece el icono con una posición absoluta */
.regis svg {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #0F3240;
}

/* Establece el relleno dentro del campo de entrada */
input[type="password"] {
  padding-right: 30px;
}