
/* carousel.css */

/* Ajustes para el contenedor del carrusel */
.carousel-item {
  height: 400px; /* Ajusta la altura según tus necesidades */
}

/* Estilos para las imágenes dentro del carrusel */
.carousel-item img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  margin-top: 0px; /* Ajusta el margen superior según tus necesidades */
}

/* Estilos para la leyenda */
.carousel-caption h5 {
  color: #fff7f7;
  margin-bottom: 10px; /* Ajusta el margen inferior según tus preferencias */
}

.carousel-caption p {
  color: #faf0f0;
  margin-bottom: 0; /* Puedes ajustar según tus preferencias */
  font-size: 16px; /* Ajusta el tamaño de la fuente según tus preferencias */
}

/* Estilos adicionales para la clase custom-carousel-caption */
.custom-carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 10px; /* Ajusta el radio de borde según tus preferencias */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega un sombreado según tus preferencias */
}
