.bg-paginas{
  background-color: #f2f2f2;
}

.container-fluid-blanco {
  background-color: #F2F2F2;
  border-radius: 50em;
}
.container-fluid-celeste {
  background-color: #0597F2;
  border-radius: 50em;
}
.container-blanco{
  padding: 50px;
  text-align: center;
}
.container-celeste{
  padding: 50px;
}
.titulos-principales{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #0F3240;
  font-size: 3em;
  text-align: center;
}
.titulo-secundario-azul{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #0F3240;
  text-align: center
}
.titulo-secundario-blanco{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #F2F2F2;
  text-align: center
}
.parrafo-celeste{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #0597F2;
  text-align: center
}
.parrafo-blanco{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #F2F2F2;
  text-align: center
}
/* NAVBAR RESPONSIVE*/
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* PARA CENTRAR CONTENIDO EN CONTENEDORES*/
.centrar-contenido{
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: white;
}

.donaciones{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #0f3240;
  font-size: 3em;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  text-decoration: none !important;}
a:hover {
  color: rgb(228, 228, 228); /* Establece el color para los enlaces cuando el mouse está sobre ellos */
}
a:visited {
  color: #FFFFFF; /* Establece el color para los enlaces visitados */
}
a {
  text-decoration: none !important;}
a:hover {
  color: rgb(228, 228, 228); /* Establece el color para los enlaces cuando el mouse está sobre ellos */
}
a:visited {
  color: #FFFFFF; /* Establece el color para los enlaces visitados */
}
/* esto es la personalizacion del carrito */
.carrito-container {
  background-color: #F0F0F0;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}
label {
  font-weight: bold;
}
.carrito-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.carrito-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.carrito-button:hover {
  background-color: #0056B3;
}
.donaciones-list {
  list-style: none;
  padding: 0;
}
.donacion-item {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.guardar-campaña-button {
  background-color: #28A745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}
.guardar-campaña-button:hover {
  background-color: #1E7E34;
}
.campaña-guardada {
  background-color: #28A745;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}


/* estilo tarjeta */

.card {
  border: 1px solid #000;
  transition: transform 0.3s;
}

.btn-primary {
  background-color: #007BFF;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056B3;
}

.card:hover {
  transform: scale(1.05);
}

/* Estilo foto de campaña */

.foto-campaña{
  border-radius: 50px;
  margin: 2em;
  width: 80%;
  transition: transform 0.3s;
}

.foto-campaña:hover {
  transform: scale(1.05);
}

/*Estilo meta y cómputo */

.meta-computo-container{
  padding: 2em;
  transition: transform 0.3s;
}

.meta-computo-container:hover{
  transform: scale(1.05);
}

.meta-computo-title{
  font-size: 1.3em;
}

.meta-computo-value{
  font-weight: 700;
  color: #0597F2
}

/* carousel.css */
.carousel-image {
  max-width: 10; /* Adjust the maximum width as needed */
  max-height: 200px; /* Adjust the maximum height as needed */
}