
.container-filtro {
    align-items: center ;
    width: 365px;
    height: auto;
    border-radius:4em;
    background-color: #0597f2;
    margin: 2.5em;
    padding-bottom: 3em;
    box-shadow: 3px 3px 1px 1px rgb(#ffffff);
    
}


.titulo {
    text-align: center;
    padding: 1em;
    color: white;
    font-size: 2em;
    

}
.subtitulo {
    margin-right: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-left: 1.9em;
   
    
}

.opciones {
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 1em;
    border-radius: 40%;
    color: #0597f2;
    
}