.container-fluid-blanco {
<<<<<<< HEAD
    background-color: rgba(242, 242, 242, 0.5); /* Ajusta el valor alfa según sea necesario */
=======
    /* background-color: #F2F2F2; */
>>>>>>> b437eef180e3e8df5281cf74219f1549afe3bafb
    border-radius: 50em;
    
  }

.container-blanco{
    padding: 50px;
  }

.row{
    margin:1em
  }

.col{
    margin: 1em
  }

.titulo-secundario-azul{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #0f3240
  }

.parrafo-celeste{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #0597F2
  }